{% extends 'base.html.twig' %}
{% block title %}Chats{% endblock %}
{% block body %}

	<div class="container mt-5">
		<div class="row right_page">
			<div class="col">
				<div class="card">
					<div class="card-header" style="text-transform:capitalize;">{{ recipient.username }}</div>
					<div class="card-body">
						<div class="overflow-y-auto popup" id="messages" style="height:460px; overflow-x:hidden; width:536px; padding-left:10px; 
            padding-right:20px;" 
            hx-ext="sse" sse-connect="{{mercure(topic)}}" sse-swap="message">
							{% include 'conversation/messages.html.twig' %}
						</div>
						<hr>
              <div id="notification" style="position: fixed; top: 10px; right: 10px; background: #f0c14b; padding: 10px; border-radius: 5px;">
    
</div>
						<form hx-post="{{path('message_create')}}" hx-swap="none" class="d-flex gap-3 mt-3" method="POST" 
            hx-boost="true" hx-target="#messages" @submit.prevent>
							<input aria-label="Message" class="form-control" name="content" placeholder="Message" id="content" type="text"/>
							<input type="hidden" name="conversationId" value="{{conversation.id}}"/>
							<button class="btn btn-dark" id="send-button">Envoyer</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
   <script src="{{ asset('assets/js/message.js') }}"></script>

{% endblock %}