{% extends 'home/index.html.twig' %}

{% block title %}All Users
{% endblock %}

{% block content %}
	<main class="container-fluid py-4 px-4">
		<div class="flex">
			<h1>User index</h1>
			{# <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
				<div class="input-group">
					<input class="form-control" type="text" placeholder="Search for Users..." aria-label="Search for..." aria-describedby="btnNavbarSearch"/>
					<button class="btn btn-primary" id="btnNavbarSearch" type="button">
						<i class="fas fa-search"></i>
					</button>
				</div>
			</form> #}
		</div>


		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Username</th>
					<th>Roles</th>
					<th>Date Joined</th>
					<th>Password</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<td>{{ user.id }}</td>
						<td>{{ user.username }}</td>
						<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
						<td>{{ user.datejoined ? user.datejoined|date('Y-m-d H:i:s') : 'Not set' }}</td>
						<td>{{ user.password }}</td>
						<td>
							<a href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
							<a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="5">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a href="{{ path('app_user_new') }}">Create new</a>
	</main>
{% endblock %}
