{% extends 'home/index.html.twig' %}

{% block title %}All Users
{% endblock %}

{% block content %}
	<main class="container-fluid py-4 px-4">
		<div class="flex">
			<h1>User index</h1>
		</div>


		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Username</th>
					<th>Roles</th>
					<th>Date Joined</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<td>{{ user.id }}</td>
						<td>{{ user.username }}</td>
						<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
						<td>{{ user.datejoined ? user.datejoined|date('Y-m-d H:i:s') : 'Not set' }}</td>
						<td>
							<a href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
							<a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="5">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a href="{{ path('app_user_new') }}">Create new</a>
	</main>
{% endblock %}
